<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Jersey Servlet Configuration -->
    <servlet>
        <servlet-name>Jersey Servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>test.web.war</param-value> <!-- Set this value to whatever you name your own root package -->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Servlet Mapping for Jersey -->
    <servlet-mapping>
        <servlet-name>Jersey Servlet</servlet-name> <!-- Set this to whatever you'd like your service to be called -->
        <url-pattern>/webapi/*</url-pattern> <!-- Not happy with the /webapi/ infix? Change it here -->
    </servlet-mapping>

</web-app>